.info {
  margin-top: 15px;
  width: 100;
  display: flex;
  flex-flow: row nowrap;
}

.perso,
.stats {
  width: 50%;
  padding: 15px;
}

.stats {
  border-left: 1px solid black;
}

.title {
  margin-bottom: 15px;
  font-size: 1.8rem;
}

.info p {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
